---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class=' bg-background transition-colors duration-150'>
    <Header />
    <main class='grid w-full max-w-7xl flex-1 grid-cols-1 md:grid-cols-[250px_auto] lg:grid-cols-[250px_auto_250px] min-h-screen mx-auto px-2'>
      <slot />
    </main>
  </body>
</html>
